<main>
  <section>
    <label for="movie-input">Enter a movie title</label>
    <input id="movie-input"
      (change)="onChange($event)"
      type="text">
  </section>
  <section>
    <div *ngFor="let movie of movies">
      <img [src]="movie.Poster" />
      <aside>
        <h2>{{movie.Title | titlecase}} (<span>{{movie.Type | titlecase}}</span>)</h2>
        <h4>{{movie.Year}}</h4>
      </aside>
    </div>
    <ngx-intersect-observer [actionOnIntersection]="actionOnIntersection"></ngx-intersect-observer>
  </section>
</main>
